body {
    text-align: center;
    background-color: #Fff6bd;
    color: #F26b31;
    font-family: 'Bebas Neue', cursive;
}

h1 {
    font-size: 300%;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

label {
    font-size: 150%;
}

#bot-label {
    margin-left: 1%;
}

#human-label {
    margin-left: 2%;
}

input {
    font-size: 130%;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #Fff6bd;
    border-color: #F26b31;
    color: #F26b31;
    outline: none;
    margin-left: 1%;
    font-family: 'Bebas Neue', cursive;
}

input::placeholder {
    color: #F26b31;
    font-family: 'Bebas Neue', cursive;
    opacity: 40%;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #Fff6bd;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #F26b31;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #Fff6bd;
}

#submit {
    font-size: xx-large;
    background-color: #F26b31;
    color: #Fff6bd;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    grid-area: 2 / 2 / 3 / 3;
    border: solid 5px;
    box-shadow: 0 0 0 0 #F26b31;
	transform: scale(1);
    animation: pulse 2.5s infinite;
    border-radius: 50%;
    outline: transparent;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #F26b31;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px #F26b31;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #F26b31;
	}
}

#restart {
    width: 4em;
    height: 4em;
    font-size: xx-large;
    background-color: #F26b31;
    color: #Fff6bd;
    border: solid 5px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    border-radius: 50%;
    outline: transparent;
}


#board-grid {
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px 130px;
    text-align: center;
    justify-content: center;
}

.field-button {
    outline: transparent;
    font-size: 500%;
    background-color: #F26b31;
    color: #Fff6bd;
    border: 5px solid #Fff6bd;
    font-family: 'Lato', sans-serif;
    border-radius: 50%;

}

#display {
    font-size: xx-large;
    font-weight: 500;
    margin-bottom: 2%;
    margin-top: 2%;
}

button:disabled {
    opacity: 50%;
}